.grid_cuatro {
    display: grid; 
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 2fr;
    gap: 4px; 
    margin-top: 10px; 
    font-size: 0.8em;    
}

.grid_cuatro_1 {
    grid-row: 1/2;
    grid-column: 1/4;
    padding: 0px;
    padding-left: 0px;
}

.grid_cuatro_2 {
    grid-row: 1/2;
    grid-column: 4/7;
    padding: 0px;
}

.grid_cuatro_3 {
    grid-row: 2/3;
    grid-column: 1/3;
    padding: 0px;
    padding-left: 20px;
}

.grid_cuatro_4 {
    grid-row: 2/3;
    grid-column: 3/5;
    padding: 0px;
}

.grid_cuatro_5 {
    grid-row: 2/3;
    grid-column: 5/7;
    padding: 0px;
}